.input-class {
  background: #ffffff;
  border-radius: 10px;
  height: 45px;
  width: 100%;
  padding: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #959fa9;
  border: 1px solid rgba(220, 227, 231, 0.5);
  margin-bottom: 15px;
}
